@import url(http://fonts.googleapis.com/css?family=Arimo|Squada+One);

ul{
	outline-width: 2px;
	outline-color: grey;
	outline-style: solid;
	height: 400px;
	overflow: scroll;
}

h4{
	font-family: 'Squada One', sans-serif;
	text-align: center;
}

h1{
font-family: 'Squada One', cursive;
text-align: center;
}

h5, p{
	font-family: 'Arimo', sans-serif;
}

.hide{
	display: none;
}

.form{
	text-align: center
}